{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Tip of My Tongue - Change Email Address{% endblock %}

{% block content %}
<div class="col-md-4 col-sm-0"></div>
<div class="col-md-4 col-sm-6">
    <div class="solo-form">
        <div class="page-header text-center">
            <h1>Change Your Email Address</h1>
        </div>
        <div>
            {{ wtf.quick_form(form) }}
         </div>
    </div>
</div>
<div class="col-md-4 col-sm-0"></div>
{% endblock %}