{% extends "base.html" %}

{% block title %}
About Tip of My Tongue
{% endblock title %}


{% block content %}
    <!-- make this look like a damn letter -->
    <div class="col-md-2 col-sm-0"></div>
    <div class="col-md-8 col-sm-6">
        <img class="img-responsive" src="http://www.placecage.com/g/800/400">
        <h2>
            Tip of My Tongue...
        </h2>
        <p>
            For those moments you've almost got it, but it's just beyond reach. Your mind is approaching insanity thinking about it.
        You've also tried the old strategies. Did you sleep on it? Hell yeah you slept on it. And you still can't think of the name of the actor
        from that one show when you were a kid.
        </p>
        <h4>Fuck it! Someone else can deal with this</h4>
        <p>Just ask that Q, post a reward, and <em>let the answer come to you</em>.</p>
        <h6>made by a guy who can't think of stuff</h6>
    </div>

{% endblock content %}