{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}
Accept answer
{% endblock title %}

{% block content %}

    <div class="row">
        <div class="col-md-6">
            <h2>Accept this answer?</h2>
            <h4>Your question:</h4>
            <a class="undecorated" href="{{ url_for('main.question', id=q.id) }}">
                <div class="col-md-6 col-s-4 ">
                    <div class="inner question">
                        <div class="question-short-title"><em>{{ q.title | capitalize}}</em></div>
                        <div class="question-short-content">
                            <span class="question-short-value">Currently at: {{ q.current_value }}</span>
                            <span class="question-short-category">{{ q.category | capitalize }}</span>
                            <span class="question-short-count">Answers: {{ q.answers.count() }}</span>
                        </div>
                    </div>
                </div>
            </a>
            <br>

        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-s-4">
            <div class="inner answer">
                <a href="{{ url_for('main.profile', username=a.author.username) }}">
                    <div class="answer-author">From {{ a.author.username }}</div>
                </a>
                <div class="answer-content">{{ a.content }}</div>
            </div>
        </div>
    </div>

    {{ wtf.quick_form(form) }}



{% endblock content %}